# fly.toml app configuration file generated for jinsei-gacha on 2026-01-24T03:03:06+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jinsei-gacha'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '2gb'
  cpus = 1
